.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


.page__holding h1, h2, p {
  font-family: 'Montserrat', sans-serif;
  color: #5C5C5C;
  text-align: center;
}

.page__holding {
  position: absolute;
  top: 50%;
  left: 50%;
    -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)}


  .page__holding__logo {
    text-align: center;
  }

.logo {
background-image: url("img/logo.svg");
background-repeat: no-repeat;
width: 10em;
height: 10em;
display: inline-block;
margin: 0.5em;
}

.page__holding__logo {
  text-align: center;
}

a {
  color: #d8532e;
}
a:hover {
  color: #E07D60;
}
