/*
* Theme Name: Emily Golinko
* Theme URI: http://jameshome.co/themes/_emilygolinko
* Author: James Home
* Author URI: jameshome.co
* Description: Theme for Emily Golinko
* Version: 1.0
* License: GNU General Public License v2 or later
* License URI: http://www.gnu.org/licenses/gpl-2.0.html
* Tags: 
* Text Domain: emilygolinko
* GPL license
*/
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
@import url("http://fonts.googleapis.com/css?family=Lato");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.screen-reader-text, .srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.icon-toggle:before, .icon-toggle:hover:before {
  display: block;
  content: "";
  position: absolute;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Lato", Helvetica, Arial, serif;
  line-height: 1.5em;
  color: #232526;
}

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  color: #232526;
  line-height: 1.5em;
}

a {
  font-family: "Lato", Helvetica, Arial, serif;
  color: #d6522b;
  text-decoration: none;
}
a:hover {
  color: #e2866b;
}

.btn, .btn-primary, button, input.search-submit, .btn-danger, .btn-info, .btn-warning, .btn-success {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 0.7619;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  user-select: none;
  padding: 0.5em;
  color: #000;
  background-color: #93989c;
}
.btn:hover, .btn-primary:hover, button:hover, input.search-submit:hover, .btn-danger:hover, .btn-info:hover, .btn-warning:hover, .btn-success:hover, .btn:focus, .btn-primary:focus, button:focus, input.search-submit:focus, .btn-danger:focus, .btn-info:focus, .btn-warning:focus, .btn-success:focus, .btn:active, .btn-primary:active, button:active, input.search-submit:active, .btn-danger:active, .btn-info:active, .btn-warning:active, .btn-success:active {
  background-color: #a1a4a8;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.icon-toggle {
  width: 25px;
  height: 26px;
  position: absolute;
  border-top: solid 6px black;
  border-bottom: solid 6px black;
  right: 0.8em;
  top: 2.7em;
  margin: 0.5em;
}
.icon-toggle:before {
  width: 25px;
  height: 6px;
  background: black;
  top: 4px;
}
.icon-toggle:hover {
  border-top: solid 6px #d6522b;
  border-bottom: solid 6px #d6522b;
}
.icon-toggle:hover:before {
  width: 25px;
  height: 6px;
  background: #d6522b;
  top: 4px;
}

nav {
  margin-top: 0.5em;
}
@media (min-width: 56em) {
  nav li {
    display: inline-block;
    margin-right: 2em;
  }
  nav .icon-toggle {
    display: none;
  }
  nav .nav {
    display: block;
    line-height: 3.5em;
  }
}
@media (min-width: 65em) {
  nav li {
    display: inline-block;
    margin-right: 2em;
  }
  nav .icon-toggle {
    display: none;
  }
  nav .nav {
    display: block;
    line-height: 3.5em;
  }
}
nav ul {
  padding: 0 1em;
}
nav li {
  padding: 0.5em 0;
  font-size: 1.3em;
}

.nav {
  display: none;
}

.active {
  display: block;
}

.site-logo, .site-logo--enlarged {
  background-image: url("img/logo.svg");
  background-repeat: no-repeat;
  width: 5em;
  height: 5em;
  display: inline-block;
  margin: 0.5em;
}
.site-logo--enlarged {
  width: 7em;
  height: 7em;
}

.site-header {
  border-top: 3px solid #d6522b;
}

.site-header {
  background-color: #fff;
  z-index: 150;
}

.site-header, .content-area {
  position: relative;
}

.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

.site-footer {
  text-align: center;
}
.site-footer:after {
  content: "";
  display: table;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
}

h1 + p, h2 + p, h3 + p {
  margin: 0;
}

.btn-primary, button, input.search-submit {
  color: #fff;
  background-color: #d6522b;
}
.btn-primary:hover, button:hover, input.search-submit:hover, .btn-primary:focus, button:focus, input.search-submit:focus, .btn-primary:active, button:active, input.search-submit:active {
  background-color: #da6340;
}
.btn-danger {
  color: #fff;
  background-color: #FF0000;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background-color: #ff1a1a;
}
.btn-info {
  color: #fff;
  background-color: #6E38B0;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background-color: #7a3fc2;
}
.btn-warning {
  color: #fff;
  background-color: #FF6A4D;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background-color: #ff7f66;
}
.btn-success {
  color: #fff;
  background-color: #57BE85;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background-color: #69c592;
}

.form__label {
  display: block;
}

input[type='search'] {
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.33333em;
}

nav {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
@media (min-width: 56em) {
  nav {
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
@media (min-width: 65em) {
  nav {
    width: 91.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}

.site-branding, .site-branding--center {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
@media (min-width: 56em) {
  .site-branding, .site-branding--center {
    width: 8.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
@media (min-width: 65em) {
  .site-branding, .site-branding--center {
    width: 8.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
.site-branding--center {
  text-align: center;
}
@media (min-width: 56em) {
  .site-branding--center {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}
@media (min-width: 65em) {
  .site-branding--center {
    width: 100%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
  }
}

header:after {
  content: "";
  display: table;
  clear: both;
}

.site-footer {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
.site-footer:after {
  content: "";
  display: table;
  clear: both;
}

.site-content {
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
.site-content:after {
  content: "";
  display: table;
  clear: both;
}

.content-area {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.content-area:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 56em) {
  .content-area {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
  .content-area:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 65em) {
  .content-area {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
  .content-area:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.site-header {
  padding: 1em 0;
}

.post-navigation {
  text-align: center;
}
.post-navigation .meta-nav {
  font-size: 1.5em;
}

#image-grid {
  text-align: center;
}

.center {
  text-align: center;
}

.butt {
  text-align: center;
}

.papyrus {
  font-family: Papyrus;
  font-size: 3em;
}

.category-posters, .category-illustrations, .post-44 {
  text-align: center;
}

.current-post-parent {
  color: #e2866b;
}

.error-404 {
  text-align: center;
}

.site-footer {
  padding: 2em;
}

.site-icons {
  padding: 1em;
}
.site-icons svg {
  margin: 0.2em;
}
.site-icons svg:hover {
  fill: #d6522b;
}

.site-title {
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
}
