// # font stack

$font-url--google--primary : 'http://fonts.googleapis.com/css?family=Lato';
// $font-url--google--secondary : 'http://fonts.googleapis.com/css?family=Sanchez';

$font-family--primary: 'Lato',Helvetica,Arial, serif;
$font-family--secondary : 'Helvetica Neue',Helvetica,Arial,sans-serif;

// # font weight 

$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;
$font-weight--ultra-bold: 900;

// # base colours
// ## (check out: http://chir.ag/projects/name-that-color and http://www.colorcombos.com/color-tags.html)

$white: #fff;
$black: #000;
$grey: #797e83;

$fountain-blue: #64A2C7;
$emerald: #57BE85;
$red: #FF0000;
$coral: #FF6A4D;
$royal-purple: #6E38B0;
$terracotta: #DE7458;
$flame-pea: #d6522b;
$maroon-flush: #bd2451;

$palletes: (
	grey: (
			xx-light: lighten($grey, 65%),
			x-light: lighten($grey, 35%),
			light:  lighten($grey, 10%),
			base: $grey,
			dark: darken($grey, 10%),
			x-dark: darken($grey, 35%),
			xx-dark: darken($grey, 65%)
		)
);

// # brand colours

$color-primary: $flame-pea;
$color-secondary: lighten($flame-pea, 15%);
$color-shadow: rgba($black, .2);

// # text

$base__font-size: 1em;
$base__line: 2em;


// # ui config - need for alerts, ugh!

$ui-colors: (
	default : $fountain-blue,
	success : $emerald,
	danger   : $red,
	warning : $coral,
	info    : $royal-purple
);

// # need to use for btn mixin and _buttons.scss - not dry, ugh! Need to fix!

$default : $fountain-blue;
$success : $emerald;
$danger  : $red;
$warning : $coral;
$info    : $royal-purple;

// # asset paths

$path--rel: "../img";



// # breakpoints 

$bp-small: 40em;
$bp-medium: 55em;
$bp-large: 65em;