// super basic and generic extends (nb: no grid/containers, as these are in layout)

%srt, .srt {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// for psuedo-elements

%pseudos {
	display: block;
	content: "";
	position: absolute;
}


%jumbotron {
	padding: 2em;
	margin: 1em 0;
}

%list-style {
	list-style: none;
    margin: 0;
    padding: 0;
}

%hdd--pri {
	// font-weight: $font-weight--bold;
	font-family: $font-family--primary;
	line-height: 1.5em;
	color: palette(grey, x-dark);
} 

%hdd--sec {
	// font-weight: $font-weight--medium;
	font-family: $font-family--secondary;
	line-height: 1.5em;
	color: palette(grey, x-dark);
	line-height: 1.5em;
}

%link {
	font-family: $font-family--primary;
	color: $color-primary;
	text-decoration: none;
	&:hover {
		color: $color-secondary;
	}
}

%btn {
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	line-height: (32px / 42px);
	@include border-radius(4px);
	user-select: none;
	padding: $base__font-size / 2;
	@include btn--color();
}
