//  compact function to get pallete pallete($pallete, $shade);

@function palette($palette, $shade: 'base') {
	@return map-get(map-get($palletes, $palette), $shade);
}


@if variable-exists(font-url--google--primary) {
	@import url($font-url--google--primary);
}
@if variable-exists(font-url--google--secondary) {
	@import url($font-url--google--secondary);
}