// responsive toggle

@mixin p-el(
	$el,
	$el-w: null,
	$el-h: null
	) {
	&:#{$el} {
		@extend %pseudos;
		width: $el-w;
		height: $el-h;
		@content;
	}
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}


// media query
@mixin mq($break) {
	@if $break == "small" {
		@media (min-width: $bp-small) and (max-width: $bp-medium) {
			@content;
		}
	}
	@else if $break == "medium" {
		@media(min-width: $bp-medium + 1) {
			@content;
		}
	}
	@else if $break =="large" {
		@media (min-width: $bp-large ) {
			@content;
		}
	}
	@else {
		@error "Oopsy, daisy! No value could be retrived from the media query mixin! '#{$break}' " 
	}
}

// button color mixin. $bg = background-color, $lc = color (color of text within button), $l = lighten percentage

@mixin btn--color($bg: palette(grey, light), $lc: $black, $l: 5%) {
	color: $lc;
	background-color: $bg;
	&:hover, &:focus, &:active {
		background-color: lighten($bg, $l);
	}
}


// bem selectors so I can be lazy and not have to have the appropriate convention everytime, just generate the relevant class convention

@mixin e ($element) {
	&__#{$element} {
		@content;
	}
}

@mixin m ($modifier) {
	&--#{$modifier} {
		@content;
	}
}