@import "./vendor/susy/sass/susy.scss";

$susy: (
	global-box-sizing: border-box,
	columns: 12,
	gutters: 1/4,
	math: fluid,
	output: float,
	gutter-position: inside,
	);
@include border-box-sizing;


// # dependent on grid

%container {
	@include container(65em);
}

%clearfix {
	@include susy-clearfix();
}


