// buttons

.btn {
	@extend %btn;
	&-primary {
		@include btn--color($color-primary, $white);
		@extend %btn;
	}
	&-danger {
		@include btn--color ($danger, $white);
		@extend %btn;
	}
	&-info {
		@include btn--color ($info, $white);
		@extend %btn;
	}
	&-warning {
		@include btn--color ($warning, $white);
		@extend %btn;
	}
	&-success {
		@include btn--color ($success, $white);
		@extend %btn;
	}
}