.icon-toggle {
	@include p-el(before, 25px, 6px) {
	background: palette(grey, xx-dark);
	top: 4px;
	}
	width: 25px;
	height: 26px;
	position: absolute;
	border-top: solid 6px palette(grey, xx-dark);
	border-bottom: solid 6px palette(grey, xx-dark);
	right: 0.8em;
	top: 2.7em;
	margin: 0.5em;

	&:hover {
		@include p-el(before, 25px, 6px) {
			background: $color-primary;
			top: 4px;
		}
	border-top: solid 6px $color-primary;
	border-bottom: solid 6px $color-primary;
	}
}

nav {
	@include mq(medium) {
		li {
			display: inline-block;
			margin-right: 2em;
		}
		.icon-toggle {
			display: none;
		}
		.nav  {
			display: block;
			line-height: 3.5em;
		}
	}
	@include mq(large) {
		li {
			display: inline-block;
			margin-right: 2em;
		}
		.icon-toggle {
			display: none;
		}
		.nav  {
			display: block;
			line-height: 3.5em;

		}
	}
	ul {
		@extend %list-style;
		padding: 0 1em;
	}
	li {
		padding: 0.5em 0;
		font-size: $base__font-size * 1.3;
	}
	margin-top: 0.5em;
}


.nav {
	display: none;
}

.active {
	display: block;
}

.site-logo {
	background-image: url("img/logo.svg");
	background-repeat: no-repeat;
	width: $base__font-size * 5;
	height: $base__font-size * 5;
	display: inline-block;
	margin: 0.5em;
	@include m(enlarged) {
		@extend .site-logo;
		width: $base__font-size * 7;
		height: $base__font-size * 7;
	}
}

.site-header {
	border-top: 3px solid $color-primary;
}


// sticky nav

.site-header  {
	background-color: $white;
	z-index: 150;
}


.site-header, .content-area {
	position: relative;
}

.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}