button, input.search-submit {
	@extend .btn-primary;
}

.center {
	text-align: center;
}

.screen-reader-text {
	@extend %srt;
}

.butt {
	text-align: center;
}

.papyrus {
	font-family: Papyrus;
	font-size: 3em;
}

.category-posters, .category-illustrations, .post-44 {
	text-align: center;
}

.current-post-parent {
	color: $color-secondary;
}

.error-404 {
	text-align: center;
}

.site-footer {
	padding: 2em;
}

.site-icons  {
	padding: 1em;
	svg {
		margin: 0.2em;
	&:hover {
		fill: $color-primary;
	}
	}
}

