
nav {
	@include span(12 of 12);
	@include mq(medium) {
		@include span(11 of 12);
	}
	@include mq(large) {
		@include span(11 of 12);
	}
}
.site-branding {
	@include span(12 of 12);
	@include mq(medium) {
		@include span(1 of 12);
	}
	@include mq(large) {
		@include span(1 of 12);
	}
	@include m(center) {
		@include mq(medium) {
			@include span(12 of 12);
		}
		@include mq(large) {
			@include span(12 of 12);
		}
		@extend .site-branding;
		text-align: center;
	}
}

header {
	@include clearfix();
}


.site-footer {
	@include clearfix();
	@include span(12 of 12);
}

.site-content {
	@include clearfix();
	@include span(12 of 12);
}

.content-area {
	@include container(95%);
	@include mq(medium) {
		@include container(65%);
	}
	@include mq(large) {
		@include container(65%);
	}
}

.site-header {
	padding: 1em 0;
}

.post-navigation {
	text-align: center;
	.meta-nav {
		font-size: 1.5em;
	}
}

#image-grid {
	text-align: center;
}