// # imports

// ## WordPress Meta

/*
* Theme Name: Emily Golinko
* Theme URI: http://jameshome.co/themes/_emilygolinko
* Author: James Home
* Author URI: jameshome.co
* Description: Theme for Emily Golinko
* Version: 1.0
* License: GNU General Public License v2 or later
* License URI: http://www.gnu.org/licenses/gpl-2.0.html
* Tags: 
* Text Domain: emilygolinko
* GPL license
*/

// ## define fundamental paramaters (colours, mixins, functions )
@import "base/index";
// ## define layout (grid or vendor grids)
@import "layout/index";
// ## define modular sections (buttons, panel, pages/partials, navbar)
@import "module/index";
// ## define theme, sits on top of above to make distinctive design, specific pages
@import "theme/index";

// # Below are purely examples to remember classes.





// theme specific

.site-title {
	margin: 0;
}

img {
	height: auto;
	max-width: 100%;
}



